.formbox {
    background-color: #301b3fd8;
    border-radius: 0.75rem;
    margin: 1rem;
    padding: 0.2em;
  }
  form {
    font-size: 2.2rem;
  }
  input {
    border-radius: 0.75rem;
    height: 5vh;
  }
  textarea {
    height: 10vh;
    width: 100%;
    border-radius: 0.75rem;
  }