:root {
  --headheight: 3.5rem;
  --borderWidth: .1rem;
  --standardRadius: .75rem;
  --almostBlack: #151515;
  --almostBlackTransparent: #15151555;
  --deepPurp: #301b3f;
  --deepPurpTransparent: #301b3f55;
  --blueGray: #3c415c;
  --blueGrayTransparent: #5768c955;
  --taupe: #b4a5a5;
}
* {
  box-sizing: border-box;
}
body {
  border: 0;
  padding: 0;
  /* start font code */
  font-family: 'Dekko', cursive;
  font-weight: 400;
  font-style: normal;
  /* end font code */
  background-image: url(assets/images/crabnebula.jpg);
  background-size: cover;
  background-position: center;
  color: var(--taupe);
}
